<div class="container">
    <h2>{{question}}</h2>
    <form *ngIf="answers != undefined" onsubmit="return false">
        <div class="form-group">
            <input 
                (change)="onInput($event)" (keyup.enter)=checkAnswer()
                type="text" class="form-control" id="passwordInput" autocomplete="off">
        </div>
        <div class="form-group">
            <button (click)="checkAnswer()" type="button" class="btn btn-primary">Check</button>
        </div>
        <div *ngIf="correctAnswer" class="form-group">
            <h3 class="text-success" id="correctLabel">Correct! The next clue is {{number}}</h3>
        </div>
        <div *ngIf="wrongAnswer" class="form-group">
            <h3 class="text-danger" id="wrongLabel">Try Again</h3>
        </div>
    </form>
</div>
